
@media (max-width: 1920px){
    /*Encabezado de la Página*/

    header {
        background-color: #2b879e;
        display: flex;
        height: 80px;
        
        flex-direction: row;
        position: relative;
    }

    .logo { 
        position: absolute;
        width: 95px;
        left: 40px
        
    }

    ul {
        background-color: blue;
        display: inline-block;
        position: absolute;
        left: 850px;
        top: 15px;
        
    }

    img { 
        width: 50px;
    }

    .redes {
        background-color: pink;
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .inicio-sesion{
        position: absolute;
        right: 100px;
        top: 30px;
        font-size: 20px;
    }
    /*-------------------------------------------------------------------------------------------------
    Cuerpo de la Página*/

    body{
        background-image: url('/Imagenes/fondo1-1.jpg');;
    }










    /*-------------------------------------------------------------------------------------------------
    Pie de Página*/
    footer{
        background-color: red;
        height: 100px;
        position: relative;
        top: 850px;
        display: flex;
    }
    
    h2{
        font-size: 50px;
        background-color: blanchedalmond;
        position: absolute;
        top: 20px;
        left: 40px;
    }

    .redes2-2 {
        background-color: black;
        display: inline-block;
        position: absolute;
        left: 850px;
        top: 15px;
        
    }

    .redes2 {
        background-color: blue;
        display: inline-block;
        margin: 0 20px 0 0;
    }