@media (max-width: 1920px){
    /*Encabezado de la Página*/


    header {
        background-color: #e74115;
        position: fixed;
        height: 13%;
        width: 100%;
        
    }

    .logo { 
        position: fixed;
        width: 7%;
        left: 8%;
        
    }

    ul {
        /*background-color: blue;*/
        display: inline-block;
        position: fixed;
        left: 46%;
        top: 2%;
        
    }

    img { 
        width: 50px;
    }

    .redes {
        /*background-color: pink;*/
        display: inline-block;
        margin: 0 20px 0 0;
    }

    .inicio-sesion{
        position: fixed;
        right: 8%;
        top: 5%;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    /*-------------------------------------------------------------------------------------------------
    Cuerpo de la Página*/

    body{
        background-image: url('/Imagenes/fondos/fondo1-3.png');
        position: relative;
    }

    .titulos{
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 150%;
        left: 41%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-weight: bold;
        color:#fef5c8;
        text-shadow: 2px 2px 4px black;
    
    }

    h1{
        font-size: 80px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        z-index: -1;
    }

    h2{
        font-size: 25px;
        letter-spacing: 4px;
    }
    
    .destinos {
        position: absolute;
        top: 350%; 
        left: 13%; 
        display: grid;
        grid-template-rows: repeat(1,456px);
        grid-template-columns: repeat(3,500px);
        /*background-color: red;*/
    }

    .d1 {
       /*
        max-width: 500px;
        max-height: 400px;*/
        position: relative;
    }
    
    .imgDestino{
        width: 87%; /*456px*/
        height: 110%; /*500px*/
        position: relative;
        z-index: -1;
        border: 5px solid #033750;
        box-shadow: 2px 2px 10px black;
    }

    .textoDestino{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: bolder;
        color: #00988c;
        text-shadow: 0px 0px 2px #fef5c8;
        position: absolute;
    }

    .cor {
        top: 5%;
        left: 20%;
    }

    .men {
        top: 95%;
        right: 42%;
    }

    .pat {
        top: 5%;
        left: 72%;
    }



    

    /*-------------------------------------------------------------------------------------------------
    Pie de Página*/
    footer{
        background-color: #e74115;
        height: 87px;
        position: relative;
        top: 850px;
    }
    
    h5{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 20px;
        left: 40px;
    }

    :link {
        text-decoration: none;
        color:#fef5c8;
    }

    :visited {
        text-decoration: none;
        color:#033750;
    }
    :hover{
        text-decoration-style: wavy;
    }
    .DondeEstamos {
        top: 50px;
        left: 50px;
        position: relative;
    }
    .Mapa {
        top: 1000px;
        left: 900px;
        position: absolute;
    }
    .Donde {
        top: 1000px;
        left: 500px;
        position: absolute; 
        width: 500px; 
    }

}




