@media (max-width: 1920px){
    /*Encabezado de la Página*/

    .grid-header {
        background-color: #e74115;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,40em);
        grid-template-rows: repeat(1,8em);
        align-items: center;
        position: fixed;
        z-index: 2;
        flex-wrap: wrap;
    }

    .logo { 
        margin-left: 3em;
    }

    .logo-img { 
        width: 20%;
    }

    .redes {
        display: inline;
        margin-left: 3em;
    }

    .redes-img {
        height: 4em;
        width: auto;
        padding: 1em;
    }

    .formulario{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-align: right;
        margin-right: 3em;
    }

    /*-------------------------------------------------------------------------------------------------
    Cuerpo de la Página*/
    .titulo_paquete{
        position: relative;
        border-color: black;
        border-width: 100%;
        width: 50%;
        height: 50%;
        top: 25%;

    }
    .titulo_cordoba{
        font-size: 20px;
        text-align: center;
        bottom: 500px;
        color: black;
        position: absolute;
    }
    .imagen_titulo{
        background-size: 1920px 938px;
        position: absolute;


    }
    .servicios_incluidos_paquete{
        display: flexbox;
        
    }
    .itinerario_viaje{
        display: flexbox;
    }
    .boton_me_interesa{
        display: flexbox;
    }
    .imagen_paquete_cordoba{
        display: flexbox;
    }
    .mas_info{
        display: flexbox;
    }

    

    /*-------------------------------------------------------------------------------------------------
    Pie de Página*/
    footer{
        background-color: #e74115;
        height: 87px;
        position: relative;
        top: 1920px;
        z-index: 2;
    }
    
    h5{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 20px;
        left: 40px;
    }

    :link {
        text-decoration: none;
        color:#fef5c8;
    }

    :visited {
        text-decoration: none;
        color:#033750;
    }
    :hover{
        text-decoration-style: wavy;
    }

}