@media (max-width: 1920px){
    /*Encabezado de la Página*/

    .grid-header {
        background-color: #e74115;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,40em);
        grid-template-rows: repeat(1,8em);
        align-items: center;
        position: fixed;
        z-index: 2;
        flex-wrap: wrap;
    }

    .logo { 
        margin-left: 3em;
    }

    .logo-img { 
        width: 15%;
    }

    .grid-header ul {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .redes {
        display: inline;
       
    }

    .redes-img {
        height: 5.5em;
        width: auto;
        padding: 1em;
    }

    .formulario{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: right;
        text-shadow: 5px 2px 3px #000000;
        text-align: center;
    }

    @media (hover: hover){
        
        #form:hover{
            text-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #ffffff;
            font-size: 35px;
            color:#fef5c8;
        }
    }

    /*-------------------------------------------------------------------------------------------------
    Cuerpo de la Página*/

    body{
        background-image: url('../Imagenes/fondos/fondo1-3.png');
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: -2;
    }

    .titulo_paquete{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-weight: bold;
        color: #fef5c8;
        text-shadow: 2px 5px 10px black;
        padding-top: 12em;
        padding-bottom: 2em;

    }

    h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        z-index: -1;
    }

    h2{
        font-size: 25px;
        letter-spacing: 4px;
        z-index: -1;
    }

    div.contenedor{
        margin-top: 1em;
        margin-bottom: 3em;
        display: grid;
        grid-template-columns: repeat(5, 20em);
        justify-content: center;
        grid-template-rows: repeat(4, 10em);
        
    }

    .caja{
        margin: 2%;
        background-color: #fef5c8;
        border: solid black;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        text-align: center;
        border: 3px solid #00988c;
        grid-column: 3/5;
        grid-row: 1/4;
        position: relative;
    }


    .c1{
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .texto-caja1{
        margin-top: 20%;
    }

    .slider{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .slider li {
        position: absolute;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
    }

    .slider li img{
        width: 100%;
        height: 100%;
        background-size:cover;
    }

    .slider li:first-child {
        opacity: 1; /*Mostramos el primer <li>*/
    }

    .slider li:target {
        opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
    }

    .menu{
        position: absolute;
        top: 92%;
        left: 44%;
    }

    .menu li{
        display: inline-block;
    }

    .menu li a{
        display: inline-block;
        text-decoration: none;
        background-color: white;
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
    }


    .c3{
        margin: 4% 2% 4% 2%;
        grid-column: 5/6;
        grid-row: 1/5;
    }

    .texto-caja3{
        margin-top: 85%;
    }
    .c4{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .texto-caja4{
        margin-top: 7%;
    }

    .c5{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .texto-caja5{
        margin-top: 10%;
    }

    .c6{
        grid-column: 3/5;
        grid-row: 4/5;
    }

    .btn-primary{
        margin-top: 8%;
        background-color: #033750;
        color: #fef5c8;
        border-color: #033750;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active    {
        background-color: #e74115;
        color: #FFF;
        border-color: #e74115;
    }

    /*-------------------------------------------------------------------------------------------------
    Pie de Página*/

    .desarrolladores {
        background-color: #e74115;
        position: relative;
        z-index: 2;
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: repeat(4,25em);
        grid-template-rows: repeat(1,5em);
        align-items: center;
        justify-content: space-around;
        color:#fef5c8;
        text-shadow: 2px 2px 4px black;
    }
    
    footer h5{
        font-size: 2em;
        font-weight: bold;
        text-shadow: 3px 3px 3px #000000;
    }

    footer a {
        font-size: 1.5em;
        text-shadow: 3px 3px 3px #000000;
        text-align: center;
    }

    @media (hover: hover){
        
        #mar:hover{
            text-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #ffffff;
            font-size: 2em;
            color:#fef5c8;
        }
    
        #mel:hover{
            text-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #ffffff;
            font-size: 2em;
            color:#fef5c8;
        }
    
        #sha:hover{
            text-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #ffffff;
            font-size: 2em;
            color:#fef5c8;
        }
    }

    :link {
        text-decoration: none;
        color:#fef5c8;
    }

    :visited {
        text-decoration: none;
        color:#fef5c8;
    }
    :hover{
        text-decoration-style: wavy;
    }

}